@{ ViewData["Title"] = "Activity"; }

<div class="container activityPage">
    @{
        foreach(var e in @ViewBag.Activity){
            <h1>@e.Title</h1>
            
                @foreach(var c in @e.Attendings){
                    if(@c.User.id == @e.CreatedBy){
                        <h3>Event Coordinator: @c.User.FirstName</h3>
                    }
                }
            @foreach(var activity in @ViewBag.AllEvents){
                @if(@activity.id == @e.id){
                    <tr>
                        @{bool created = false;}
                        @{bool attending = false;}
                        @if(@activity.CreatedBy == @ViewBag.CurrentUser.id){
                            created = true;
                        }
                        @if(@created == true){
                            <p align="right">Do you want to remove this event? <a href="/delete/@activity.id"><button>Delete</button></a></p>
                        }
                        else{
                            @foreach(var res in activity.Attendings){
                                if(@res.UserId == @ViewBag.CurrentUser.id){
                                    attending = true;
                                }
                            }
                            @if(@attending == true){
                                <td><a href="/removeRSVP/@activity.id"><button>Leave</button></a></td>
                            }
                            else{
                                <td><a href="/reserve/@activity.id"><button>Join</button></a></td>
                            }
                        }
                        
                    </tr>
                }
                    
            }
            <div class="activity-info">
                <img src="@e.Image" alt="">
                <h3>Location:</h3>
                <p>@e.Location</p>
                <h3>Description</h3>
                <p>@e.Description</p>
                <h3>Participants:</h3>
                @foreach(var user in e.Attendings){
                    <ul>
                        <li>@user.User.FirstName</li>
                    </ul>
                }
            </div>
        }
    }
</div>