@{ ViewData["Title"] = "Activity"; }

<div class="container">
    @{
        foreach(var activity in @ViewBag.Activity){
            <h1>@activity.Title</h1>
            <h3>Event Coordinator:</h3>
                @foreach(var c in @activity.Attendings){
                    if(@c.User.id == @activity.CreatedBy){
                        <p>@c.User.FirstName</p>
                    }
                }
            
            <h3>Description</h3>
            <p>@activity.Description</p>
            <h3>Participants:</h3>
            @foreach(var user in activity.Attendings){
                <ul>
                    <li>@user.User.FirstName</li>
                </ul>
            }
        }
    }
    

    

    
    
    
</div>