@{ ViewData["Title"] = "Dashboard"; }
<div class="container">
    <h1>Welcome to the Dojo Activity Center</h1>
    <p>Hello @ViewBag.CurrentUser.FirstName</p>
     <div class="col-lg-12">
        <table class="table table-hover">
            <tr> 
                <th>Activity</th>
                <th>Date and Time</th>
                <th>Duration</th>
                <th>Event Coordinator</th>
                <th>Number of Participants</th>
                <th>Actions</th>
            </tr>
        <tbody>
            @{
                foreach(var activity in @ViewBag.AllEvents){
                    <tr>
                        <td>@activity.Title</td>
                        <td>@activity.EventDate</td>
                        <td>@activity.Duration @activity.Length</td>
                        <td>@activity.CreatedBy</td>
                        <td>@activity.Reserves.Count</td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="new"><button>Add New Activity</button></a>
    </div>
</div>